     </div>
            <!-- Workspace End -->
        </div>
        <!-- Main Content End -->
        
    </div>
	
    <!-- BEGIN SCRIPTS -->
    <script type="text/javascript" src="assets/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/html5shiv.js"></script>
    <script type="text/javascript" src="assets/plugins/respond.min.js"></script>
	<script type="text/javascript" src="assets/plugins/BrowserDetect.js"></script>
	
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="assets/plugins/aciTree/js/jquery.aciPlugin.min.js"></script>
		<script type="text/javascript" src="assets/plugins/aciTree/js/jquery.aciTree.dom.js"></script>
		<script type="text/javascript" src="assets/plugins/aciTree/js/jquery.aciTree.core.js"></script>
		<script type="text/javascript" src="assets/plugins/aciTree/js/jquery.aciTree.selectable.js"></script>
		<script type='text/javascript' src='assets/plugins/toggle-switch-master/js/jquery.toggleswitch.min.js'></script>
		<script type='text/javascript' src='assets/plugins/jquery.corner.js'></script>
		<script type="text/javascript" src="assets/plugins/data-tables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="assets/plugins/data-tables/DT_bootstrap.js"></script>
		<script type='text/javascript' src="assets/scripts/table-managed.js"></script>
		<script type="text/javascript" src="assets/plugins/ckeditor/ckeditor.js"></script>
		<script type="text/javascript" src="assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
		<!-- END PAGE LEVEL PLUGINS -->
	
    <script type='text/javascript' src="assets/scripts/core.js"></script>
	<!-- END SCRIPTS -->
    
    <script>
		$(document).ready(function ()
		{
			//	BEGIN APP **************************************************************
			/*APP.EDIT_OR_VIEW_TOGGLE();
			APP.LEFT_NAV.init();
			APP.LEFT_NAV_COURSE_OUTLINE();
			APP.BODY_COLLAPSES();
			APP.APPLY_ROUNDED_CORNERS();
			APP.CKEDITOR("title-ckeditor", "TITLE");
			APP.CKEDITOR("cc-ckeditor", "CC");
			APP.CKEDITOR("text-ckeditor", "TEXT");
			APP.DATAGRID('#sample_1',true,true,true,true);*/
			//	END APP **************************************************************
		});
	</script>
</body>
</html>