<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Dashboard</title>

	<!-- BEGIN CSS -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-3.1.1-dist/css/bootstrap.min.css" />

		<!-- BEGIN PAGE SPECIFIC CSS -->
		<link rel="stylesheet" type="text/css" href="assets/plugins/aciTree/css/aciTree.css" />
		<link rel="stylesheet" type="text/css" href='assets/plugins/toggle-switch-master/css/toggleswitch.css' />
		<link rel="stylesheet" type="text/css" href="assets/plugins/data-tables/DT_bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
		<!-- END PAGE SPECIFIC CSS -->
	
	<link rel="stylesheet" type="text/css" href="assets/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style-metronic.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- END CSS -->
	
	
	
	
	   
</head>

<body>
    <div class="wrapper">
    
        <!-- Header Begin -->
        <div class="header-content">
            <!-- Top Bar Begin -->
            <div class="push-down">
                <div class="container-fluid">
                    <div class="pull-left logo"></div>
                    <ul class="nav top-right-nav">
                        <li class="nav-ph">888-360-8764</li>
                        <li class="divider"></li>
                        <li class="support-a"><a href="javascript:;">Support</a></li>
                        <li class="divider"></li>
                        <li class="media-divider"><a href="javascript:;">Chat Now</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;" style="display:none">Log In</a>
                            <div class="dp-box lady-icon">
							  <ul>
								<li><a href="#">My Profile</a></li>
								<li><a href="index.html">Log Out</a></li>
							  </ul>
							</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Top Bar End -->
            
            <!-- Navigation Bar Begin -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <ul class="nav">
                  
                    <!-- Go To -->
                    <li class="dropdown">
                      <a title="Go To" href="javascript:;" class="dropdown-toggle fix-dropdown-a" data-toggle="dropdown"><div class="nav-icons goto-icon"></div><span>Go To</span> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-cat">Website</li>
                        <li><a href="http://www.360training.com/">Home – U.S.</a></li>
                        <li><a href="http://www.360training.com/apac/">Home – Asia Pacific</a></li>
                        <li><a href="http://www.360training.com/enterprise/">Corporate</a></li>
                        <li><a href="http://www.360training.com/authoring-program/">Author and Teach</a></li>
                        <li><a href="http://www.360training.com/partner-program/">Partner</a></li>
                        <li class="dropdown-cat">My Accounts</li>
                        <li><a href="javascript:;">Learn</a></li>
                        <li><a href="javascript:;">Manage Learners</a></li>
                        <li><a href="javascript:;">Teach Classes</a></li>
                        <li><a href="javascript:;">Author Courses</a></li>
                        <li><a href="javascript:;">Manage Accreditations</a></li>
                        <li><a href="javascript:;">Administrate Accounts</a></li>
                      </ul>
                    </li>
                    
                    <!-- Store -->
                    <li class="dropdown">
                      <a title="Store" href="javascript:;" class="dropdown-toggle fix-dropdown-a" data-toggle="dropdown"><div class="nav-icons store-icon"></div><span>Store</span> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
						<li><a href="javascript:;">Author and Trainer Solutions</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-starter/">Free Software and Packages</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-lcms-software/">Course Creation Software and Upgrades</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-lms-software">Learning Management Software and Upgrades</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-storefront-software">Store Software and Upgrades</a></li>
                      </ul>
                    </li>
                    
                    <!-- Create -->
                    <li class="dropdown">
                      <a title="Create" href="javascript:;" class="dropdown-toggle fix-dropdown-a" data-toggle="dropdown"><div class="nav-icons create-icon"></div><span>Create</span> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
						<li><a href="javascript:;" style="padding:10px">Overview to Creation Options</a></li>
                        <li class="dropdown-cat">Account-free Courses</li>
                        <li><a href="http://www.360training.com/authoring-program/submit-webinar-course/">Submit a Webinar Course</a></li>
                        <li><a href="http://www.360training.com/authoring-program/submit-classroom-course/">Submit a Classroom Course</a></li>
                        <li class="dropdown-cat">Account-based Courses</li>
                        <li><a href="javascript:;">Create an Online Course</a></li>
                      </ul>
                    </li>
                    
                    <!-- Manage -->
                    <li class="dropdown">
                      <a title="Manage" href="javascript:;" class="dropdown-toggle fix-dropdown-a" data-toggle="dropdown"><div class="nav-icons manage-icon"></div><span>Manage</span> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="javascript:;">Author Account</a></li>
                        <li><a href="javascript:;">Global Royalty Report</a></li>
                        <li><a href="javascript:;">Global Revenue Share Report</a></li>
                      </ul>
                    </li>
                    
                    <!-- Community -->
                    <li class="dropdown">
                      <a title="Community" href="javascript:;" class="dropdown-toggle fix-dropdown-a" data-toggle="dropdown"><div class="nav-icons community-icon"></div><span>Community</span> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                      	<li class="dropdown-cat">Support</li>
						<li><a href="https://player.360training.com/ICP4/CoursePlayerPreviewer.aspx?COURSEID=74692&VARIANT=En-US&BRANDCODE=DEFAULT&PREVIEW=true&SESSION=bd5d5a7d-7fad-4203-b185-72d00247f2af">Video Tutorials</a></li>
                        <li><a href="https://player.360training.com/ICPFilesystem/LCMSManual/LCMS_Training_Manual_v124.pdf">User Guides</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-support/">Application Support</a></li>


                      	<li class="dropdown-cat">FAQs</li>
                        <li><a href="http://www.360training.com/authoring-program/faq-software-terms/">Software Purchases and Terms</a></li>
                        <li><a href="http://www.360training.com/authoring-program/tools/">More About Tools</a></li>
                        <li><a href="http://www.360training.com/authoring-program/faq-360-author/">Life as a 360 Author</a></li>
                        <li><a href="http://www.360training.com/authoring-program/faq-storefront/">Managing Your Own Storefront</a></li>


                      	<li class="dropdown-cat">Community</li>
                        <li><a href="http://www.360training.com/authoring-program/whats-new/">What’s New</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-whitepapers/">Whitepapers</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-blog/">Blogs</a></li>
                        <li><a href="https://www.facebook.com/pages/360trainingcom-Authoring/378754678842234">Facebook</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-showcase/">Showcase</a></li>
                        <li><a href="http://www.360training.com/authoring-program/author-opportunities/">Opportunities</a></li>
                      </ul>
                    </li>
                    
                    <!-- Search -->
                    <li class="search-box">
                        <form title="Search" class="pull-left" role="search" action="search_course.html">
                          <div class="pull-left">
                                <input type="text" class="form-control field" placeholder="Search Authored Courses" value="">
                          </div>
                          <div class="pull-left">
                            <button class="btn btn-default search-btn" type="submit"><i class="search-icon"></i></button>
                          </div>
                        </form>
                        
                        <div class="pull-left advance-search">
                            <a href="search_course.html" title="Advanced Search"><i></i><span>Advanced Search</span></a>
                        </div>
                    </li>
                    
                  </ul>
                </div>
            </nav>
            <!-- Navigation Bar End -->
        </div>
        <!-- Header End -->
        
        <!-- Main Content Begin -->
        <div class="main-content">